<header>
 <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
</header>


@media screen and (max-width: 899px) {
.blank {

}
}



@media screen and (max-width: 900px) {
nav {
	display: none;
	}
}

@media screen and (max-width: 900px) {
.title {
		padding-top: 1vw;
}
}

@media screen and (max-width: 500px) {
.title {
		padding-top: 7vw;
}
}

@media screen and (max-width: 500px) {
.responsive-menu ul li {
	text-align: right;
	list-style: none;
    color: #73c3b4;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 8px;
	letter-spacing: 2px;
	text-transform: uppercase;
	     -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
	background-color: rgba(0,0,0,.5);
    padding-bottom: 10px;
    padding-right: 7vw;
}
}

@media screen and (max-width: 500px) {
.responsive-menu ul li .mobile-list a {
		text-align: right;
	list-style: none;
    color: #73c3b4;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 8px;
	letter-spacing: 2px;
	text-transform: uppercase;
	     -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
        line-height: 25px;
  }
}

@media screen and (max-width: 500px) {
button.search-mobile {
	background: none;
    border: none;
    text-decoration: none;
    display: inline-block;
	color: #73c3b4;
		text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	outline: none;
	line-height: 12px;
	margin-right: -2px;
}
}

@media screen and (max-width: 500px) {
button.contribute-mobile {
	background: none;
    border: none;
    text-decoration: none;
    display: inline-block;
	color: #73c3b4;
		text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	outline: none;
	line-height: 12px;
		margin-right: -3px;
}
}

@media screen and (max-width: 500px) {
button.search-mobile a {
	background: none;
    border: none;
    text-decoration: none;
    display: inline-block;
	color: #73c3b4;
		text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	outline: none;
	line-height: 12px;
		margin-right: -3px;
}
}

@media screen and (max-width: 500px) {
button.contribute-mobile a {
	background: none;
    border: none;
    text-decoration: none;
    display: inline-block;
	color: #73c3b4;
		text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	outline: none;
	line-height: 12px;
		margin-right: -3px;
}
}

@media screen and (max-width: 900px) {
p {
	color: #ffffff;
	text-align: left;
	text-decoration: none;
	font-family: 'Merriweather', serif;
	font-size: 16px;
	line-height: 30px;
	padding-bottom: .5vw;
}
}

@media screen and (max-width: 900px) {
	em{
		color: #7dc6b6;
		text-align: left;
		text-decoration: none;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-style: normal;
		font-size: 16px;
			line-height: 30px;
		letter-spacing: 1px;

	}
}

@media screen and (max-width: 900px) {
img.addl {
	width: 90%;
	height: auto;
	margin-left: 5%;
	padding-bottom: 5px;

}
}

@media screen and (max-width: 900px) {
.text {
	padding-top: 2vw;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2vw;
}
}

@media screen and (max-width: 900px) {
	.imgWrapArch {
	  position: relative;
		width: 90vw;
		height: auto;
		margin-left: 3%;
		margin-right: auto;
		display: inline-block;
		padding-bottom: 2.5vw;

	}
}

@media screen and (max-width: 900px) {
	.imgWrapArch:hover .imgDescriptionArch {
	  display: none;
	}
}

@media screen and (max-width: 900px) {
	h4.imgDescriptionArch {
	  display: none;

	}
}



@media screen and (max-width: 900px) {
	.imgDescriptionArch {
	  display: none;

	}
}

@media screen and (max-width: 900px) {
	img.arch {
		width: 100%;
		height: 100%;

	}
}

@media screen and (max-width: 900px) {
	h2.imgDescriptionArch-mobile {
	width: 80%;
	}
}

@media screen and (max-width: 900px) {
	.imgDescriptionArch-Mobile {
		position: absolute;
		margin-top: -26.4vw;
		background: rgba(0,0,0,.6);
		height: 20vw;
		width: 86vw;
		z-index: 1000;
		visibility: visible;
  		opacity: 1;
  		padding: 3vw;
	}
}


@media screen and (min-width: 901px) {
	h2.imgDescriptionArch-mobile {
	display: none;
	}
}

@media screen and (min-width: 901px) {
	.imgDescriptionArch-Mobile {
		display: none;
	}
}


